<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-xs-3 col-md-1">
        <img ng-src="{{ vm.item.img }}" class="img-responsive">
      </div>

      <div class="col-xs-7 col-md-9 text">
        <h2>{{ vm.item.title }}</h2>
        <p>{{ vm.item.desc }}</p>
      </div>
      <div class="col-xs-1 col-md-1 text-right">
        <a href="#/home">
          <i class="fa fa-times"></i>
        </a>
        
      </div>
    </div>


  </div>
</nav>
