.navbar {
  background-color: transparent;
  padding: 30px 0;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 25px;

  .container-fluid {
    padding: 0;
    
    div {
      background-color: transparent;
    }

    .row {
      div:first-child {
        padding: 0 0 0 40px;
      }

      div.text {
        padding: 0 0 0 30px;

        h2 {
          margin: 0;
          font-size: 4.5rem;
        }

        p {
          font-family: 'Raleway';
          font-size: 2rem;
          margin: 0;
        }

        @media (max-width: 360px) {
          padding: 0 0 0 12px;
          h2 {
            font-size: 4rem;
          }
        }
      }

      i {
        font-size: 6rem;
        transition: 0.5s;

        @media (max-width: 500px) {
          margin-left: -30px;
        }

        @media (max-width: 360px) {
          font-size: 5rem;
        }
      }

      i:hover {
        transform: rotate(180deg);
      }
    }
  }

  
}
