<section class="first">
  <div class="container">
    <div class="row v-center">
      <div class="col-xs-12 col-md-5 text-right">
          <img src="{{ main.profile.picture.fields.file.url }}" class="img-responsive" alt="">
      </div>
      <div class="col-xs-12 col-md-7 ">
          <h1>{{ main.profile.name }}</h1>
          <h3>{{ main.profile.post }}</h3>
          <ul>
            <li><a target="_blank" href="{{ main.profile.facebookUrl }}"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="{{ main.profile.twitterUrl }}"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="{{ main.profile.linkedInUrl }}"><i class="fa fa-linkedin"></i></a></li>
            <li><a target="_blank" href="{{ main.profile.gitHubUrl }}"><i class="fa fa-github"></i></a></li>
          </ul>
      </div>
    </div>
  </div>

</section>

<section class="second">
  <div class="text-center" ng-repeat="item in main.items">
    <a ui-sref="{{ item.state }}" ng-click="main.goToElement('header')">
      <img ng-src="{{ item.img }}" class="img-responsive"
          ng-mouseover="main.changeImg(item)"
          ng-mouseleave="main.changeImgBack(item)">
      <p>{{ item.title }}</p>
    </a>
  </div>
</section>

<section class="third text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-mobile"></i>
        <p>{{ main.profile.phone }}</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-paper-plane"></i>
        <p>{{ main.profile.email }}</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-map-marker"></i>
        <p>{{ main.profile.province }}</p>
      </div>
    </div>
  </div>
</section>
