<section class="first">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5 text-right">
          <img src="assets/images/photo1.png" class="img-responsive" alt="">         
      </div> 
      <div class="col-xs-12 col-md-7">
        <h1>JAVIER DELGADO</h1>
        <h3>Web developer</h3>
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/dn.javier"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/djaviern"><i class="fa fa-twitter"></i></a></li>
          <li><a target="_blank" href="https://cr.linkedin.com/in/javier-delgado-84510a101"><i class="fa fa-linkedin"></i></a></li>
          <li><a target="_blank" href="https://github.com/dnjavier"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  
</section>

<section class="second">
  <div class="text-center" ng-repeat="item in main.items">
    <a ui-sref="{{ item.state }}" ng-click="main.goToElement('header')">
      <img ng-src="{{ item.img }}" class="img-responsive"
          ng-mouseover="main.changeImg(item)"
          ng-mouseleave="main.changeImgBack(item)">
      <p>{{ item.title }}</p>
    </a>        
  </div>
</section>

<section class="third text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-mobile"></i>
        <p>+506 8850-5706</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-paper-plane"></i>
        <p>info@javier.tech</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-map-marker"></i>
        <p>San Jose, Costa Rica.</p>
      </div>
    </div>
  </div>      
</section>
