<acme-navbar item="resume.item"></acme-navbar>

<div class="resume">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Education</h2>
          <div class="box" ng-repeat="study in resume.studies">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <p class="text-left">Name</p>     
                  <p class="text-right">{{study.fields.name}}</p><br>

                  <p class="text-left">Address</p>  
                  <p class="text-right">{{study.fields.address}}</p><br>

                  <p class="text-left">Period</p>   
                  <p class="text-right">{{study.fields.period}}</p><br>

                  <p class="text-left">Level</p>    
                  <p class="text-right">{{study.fields.level}}</p>
                </div>
                <div class="col-md-12">
                  <p>{{study.fields.description}}</p>
                </div>
              </div>
            </div>            
          </div>
        </div>
        <div class="col-md-6">
          <h2>Work</h2>
          <div class="box" ng-repeat="job in resume.jobs">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <p class="text-left">Name</p>     
                  <p class="text-right">{{job.fields.name}}</p><br>

                  <p class="text-left">Address</p>  
                  <p class="text-right">{{job.fields.address}}</p><br>

                  <p class="text-left">Period</p>   
                  <p class="text-right">{{job.fields.period}}</p><br>

                  <p class="text-left">Post</p>    
                  <p class="text-right">{{job.fields.post}}</p>
                </div>
                <div class="col-md-12">
                  <p>{{job.fields.description}}</p>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      
    </div>
  </section>
</div>